
:root {
    --black: #000000;
    --white: #ffffff;

    --font-size-m: 24px;
    --font-size-s: 15px;
    --font-size-xs: 12px;

    --font-family-inter: "Inter", Helvetica;
}


/* screen - now-playing */

.now-playing {
    background-color: #121212;
    height: 420px;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 800px;
}

.now-playing .ab67616d0000b273096a-q2Ud4x {
    background-color: transparent;
    height: 195px;
    left: 298px;
    object-fit: cover;
    position: absolute;
    top: 35px;
    width: 195px;
}

.now-playing .title-q2Ud4x {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 230px;
    width: 800px;
}

.now-playing .album-q2Ud4x {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 292px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 273px;
    width: 207px;
}

.now-playing .artist-q2Ud4x {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 304px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 293px;
    width: 182px;
}



.now-playing .x000-q2Ud4x {
    left: 111px;
    top: 371px;
    width: 40px;
}

.now-playing .group-1-q2Ud4x {
    background-color: transparent;
    height: 36px;
    left: 380px;
    position: absolute;
    top: 325px;
    width: 36px;
}

.now-playing .ellipse-1-bJ8vx4 {
    background-color: var(--white);
    border-radius: 18px;
    height: 36px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 36px;
}

.now-playing .playicon-1-bJ8vx4 {
    background-color: transparent;
    height: 22px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 22px;
}

.now-playing .previousicon-1-q2Ud4x {
    background-color: transparent;
    height: 30px;
    left: 289px;
    position: absolute;
    top: 324px;
    width: 30px;
}

.now-playing .nexticon-1-q2Ud4x {
    background-color: transparent;
    height: 30px;
    left: 471px;
    position: absolute;
    top: 324px;
    width: 30px;
}

.now-playing .queueicon-1-q2Ud4x {
    background-color: transparent;
    height: 30px;
    left: 738px;
    position: absolute;
    top: 362px;
    width: 30px;
}
.now-playing .likeicon-1-q2Ud4x {
    background-color: transparent;
    height: 30px;
    left: 60px;
    position: absolute;
    top: 362px;
    width: 30px;
}
.now-playing .notlikeicon-1-q2Ud4x {
    background-color: transparent;
    height: 30px;
    left: 60px;
    position: absolute;
    top: 362px;
    width: 30px;
}
.now-playing .x000-rUm8rt {
    left: 662px;
    top: 371px;
    width: auto;
}

.now-playing .x000 {
    --black: #000000;
    --white: #ffffff;

    --font-size-m: 24px;
    --font-size-s: 15px;
    --font-size-xs: 12px;

    --font-family-inter: "Inter", Helvetica;
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-inter);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
    height: auto;
    letter-spacing: 0.00px;
    line-height: normal;
    position: absolute;
    text-align: center;
}

.progressbar
{
    position: absolute;
    top: 373px;
    left: 150px;
    width:500px;
    height: 5px;

}
input[type=range]{
    -webkit-appearance: none;
    border-radius: 17px;
    background: linear-gradient(to right, #1DB954 0%, #1DB954 50%, #fff 50%, #fff 100%);
}



input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #fff;
}
input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
html{height: 100vh; overflow-y: hidden;}
.tite{
    text-align: center;
    padding: 7px 0;
    font-size: 20px;
}